.navbar-brand img {
  width:45px;
  height: 45px;
  float: left;
  padding: .2em;
  padding-right: .4em;
}
.navbar-header span.header-title {
  color: #286090;
}

//
//header {
//  min-height: 630px;
//  background-image: url("/images/header_pic.png");
//  background-repeat:repeat-x;
//  background-position: 50% -40px;
//  position: relative;
//}
//
//
//.header-top {
//
//    min-height: 97px;
//    box-shadow: rgba(255, 255, 255, .15) 0 0 0 1px;
//    background-color: rgba(0,0,0,.4);
//    //padding-top: 16px;
//    position: relative;
//    z-index: 1;
//  -webkit-transition: all, 1s;
//  -moz-transition: all, 1s;
//  -ms-transition: all, 1s;
//  -o-transition: all, 1s;
//  transition: all, 1s;
//}
//
//
//.header-top a:hover {
//  border-bottom: #fff dashed 1px;
//  font-family: "BebasRegular", sans-serif;
//  color: #fff;
//  text-decoration: none;
//  transition: all, .2s;
//}
//
//.address {
//
//  //background-image: url("");
//  //background-position: top left;
//  //background-repeat: no-repeat;
//  margin-top: 10px;
//
//}
//
//.sity_name {
//    font-family: "BebasBold", sans-serif;
//    font-size: 3em;
//    text-transform: uppercase;
//    color: #d12f22;
//    line-height: 1em;
//}
//
//.header-top a  {
//  font-family: "BebasRegular", sans-serif;
//  text-transform: uppercase;
//  border-bottom: rgba(255, 255, 255, 0.8) dashed 1px;
//  color: rgba(255, 255, 255, 0.8);
//  text-decoration: none;
//  transition: all, .2s;
//}
//
//.header-top a:hover ,
//.header-top a:focus {
//  font-family: "BebasRegular", sans-serif;
//  text-transform: uppercase;
//  border-bottom: rgba(255, 255, 255, 1) dashed 1px;
//  color: rgba(255, 255, 255, 1);
//  text-decoration: none;
//  transition: all, .2s;
//}
//
//.address a {
//  font-size: 1.8em;
//
//
//}
//
//.phone a.call_btn{
//
//  font-size: .75em;
//
//}
//
//
//
//
//.header-top .logo {
//  //position: absolute;
//
//  //margin-top: -20px;
//  a {border-bottom: 0;}
//}
//
//
//.center {
//  text-align: center  ;
//
//}
//
//.header-top .phone {
//  font-family: "BebasBold", sans-serif;
//  font-size: 2.3em;
//  text-transform: uppercase;
//  color: #d12f22;
//  line-height: 1em;
//  //text-align: right;
//  margin-top: 10px;
//  padding-bottom: 10px;
//
//}
//
//.header-top .phone .operator_code{
//  color: white;
//}
//
